/*================================================================
	General Fixes
================================================================*/

* {
	font-family: Helvetica, Arial, Verdana;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}

/* Wrapper */
#wrapper {
	width: 640px;
	margin: 10px auto 0 auto;
}

/*================================================================
	About-section
================================================================*/


#about h1{
 font-size: 32px;
 padding: 10px;
}

#about #description {
	border-top: 1px solid black;
	border-bottom: none;
	padding: 5px;
	
	height: 0px;
	transition: height 0.5s ease-in 0.1s;
	-webkit-transition: height 0.5s ease-in 0.1s;
}

#about:hover #description{
	border-bottom: 1px solid black;
	height: 200px;
	overflow: scroll;
}

#about p { display: none; }
#about:hover p { display: block; }


/*================================================================
	Post-section
================================================================*/

#posts > li {
	list-style-type: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 20px;
}

#posts blockquote {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 20px;
	border-left: 2px solid silver;
}


#posts .caption {
	padding: 10px;
}


/* Text posts */ 
.post_text { padding: 10px; }

.post_text > h3 { font-size: 20px; }

/* Photos */
.image_container {
	min-height: 140px;
	position: relative;
}

.image_container img {
	display: block;
	margin: auto;
}

.image_container > .exif {
	position: absolute;
	top: 0;
	left: 0;
	
	height: 100%;
	width: 100%;		
	
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
}

.image_container:hover > .exif { opacity: 1; }

.exifList{
	width: 180px;
	
	color: silver;
	font-size: 12px;
	list-style-type: none;
	
	display: block;
	margin: 10px auto 10px auto;
	
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
}

.exifList li {
	border-top: 1px dashed silver;
	padding: 5px;
}
.exifList li:first-child { border-top: none;}
/*
.post_photoset
.post_panorama
.post_link
.post_quote
.post_chat
.post_audio
.post_video
*/