/*================================================================
	General Fixes
================================================================*/

* {
	font-family: Helvetica, Arial, Verdana;
	font-weight: lighter;
	color: white;
	margin: 0px;
	padding: 0px;
}

/* Wrapper */
#wrapper {
	background-color: #bbb;
	width: 640px;
	margin: 10px auto 0 auto;
}

/*================================================================
	About-section
================================================================*/


#about h1{
 font-size: 32px;
 padding: 10px;
}
#about #description {
	border-top: 1px solid white;
	border-bottom: none;
	padding: 5px;
	
	height: 0px;
	transition: height 0.5s ease-in 0.1s;
	-webkit-transition: height 0.5s ease-in 0.1s;
}

#about:hover #description{
	border-bottom: 1px solid white;
	height: 200px;
	overflow: scroll;
}

#about p { display: none; }
#about:hover p { display: block; }


/*================================================================
	Post-section
================================================================*/

#posts > li {
	list-style-type: none;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	margin-top: 20px;
}

#posts blockquote {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 20px;
	border-left: 2px solid silver;
}

.post_text { padding: 20px; }

.post_text > h3 { font-size: 20px; }

/*.post_photo
.post_photoset
.post_panorama
.post_link
.post_quote
.post_chat
.post_audio
.post_video*/