/*================================================================
	General Fixes
================================================================*/

* {
	font-family: Helvetica, Arial, Verdana;
	margin: 0px;
	padding: 0px;
}

/*================================================================
	About-section
================================================================*/


#about h1{
 font-size: 32px;
 font-weight: lighter;
 margin: 10px;
}
#about #description {
	border: 1px solid black;
	height: 0px;
	transition: height 0.5s ease-in 0.1s;
	-webkit-transition: height 0.5s ease-in 0.1s;
}

#about:hover #description{
	height: 200px;
	overflow: scroll;
}

#about p { display: none; }
#about:hover p { display: block; }

